[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "public"]
	path = public
	url = git@github.com:misscod10/blog_html.git
[submodule "themes/themes/terminal"]
	path = themes/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
